@charset "utf-8";

@font-face {
	font-family: 'titillium-regular';
	src:url('../fonts/TitilliumWeb-Regular.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family: 'titillium-bold';
	src:url('../fonts/TitilliumWeb-Bold.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family: 'raleway-regular';
	src:url('../fonts/raleway-regular.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family: 'raleway-bold';
	src:url('../fonts/raleway-bold.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
@font-face {
	font-family: 'raleway-semibold';
	src:url('../fonts/raleway-semibold.ttf') format('truetype');
	font-weight:normal;
	font-style:normal;
}
html {
	height: 100%;
	box-sizing: border-box;
	margin:0px;
	padding:0px;
	font-family: 'Raleway', sans-serif; 
  
}
body{
	background-color:#EEE;
	margin:0px;
	padding:0px;
}
.pageWrap{
	min-width:1085px;
}
.pageTitle{
	margin-top: 0px;
	text-align:center;
}
.sidebar{
	position:fixed;
	float:left;
	height:100%;
	width:180px;
	background-image:url(../gradient18.jpg);
	background-size:cover;
	background-position:left;
	background-repeat:no-repeat;
}
.sidebarInner{
	height:100%;
	margin-top:-10px;
}
.content{
	position:relative;
	margin-left: 190px;
	min-height:50px;
	padding-top: 15px;
}
.buttonCont{
	position:relative;
	top:170px;
}
.button{
	width:100%;
	height:70px;
	cursor:pointer;
	padding-bottom: 20px;
	margin-top:10px;
	-webkit-transition:  0.3s, ease;
    -moz-transition:  0.3s, ease;
    -ms-transition: 0.3s, ease;
    -o-transition:  0.3s, ease;
    transition:  0.3s, ease;	
}
.button:hover{
	background:rgba(255,255,255,0.2);
	 -webkit-box-shadow:inset 0px 0px 0px 10px #f00;
    -moz-box-shadow:inset 0px 0px 0px 10px #f00;
    box-shadow:4px 0px 0px #fff inset;
}
.is-active{
	background:rgba(255,255,255,0.2);
	 -webkit-box-shadow:inset 0px 0px 0px 10px #f00;
    -moz-box-shadow:inset 0px 0px 0px 10px #f00;
    box-shadow:4px 0px 0px #fff inset;
}
.sidebar a:link{
	color: #fff;
	text-decoration: none;
}
.sidebar a:hover{
	color: #fff;
	text-decoration: none;
}
.sidebar a:visited{
	color: #fff;
	text-decoration: none;
}
.sidebar a:active{
	color: #fff;
	text-decoration: none;
}
.sidebar div.icon{
	position:relative;
	height:30px;
	width:100%;
	padding-top:5px;
	text-align:center;
}
.sidebar div.title{
	position:relative;
	height:30px;
	width:100%;
	text-align:center;
	color:#FFF;
}
.infospec{
	padding-top:10px;
}
.felevWrap{
	padding-top:30px;
	position:relative;
	width:100%;
}
.felev{
	margin-right:5px;
	margin-left:15px;
	height:100%;
	float:left;
	font-size:12px;
}
.felev .title{
	width:98%;
	text-align:center;
	font-size:16px;
}
.targy{
	width:98%;
	background-color:#FFF;
	min-height:22px;
	border-radius:2px;
	line-height:22px;
	text-align:center;
	cursor:pointer;
	color:#333;
	margin-top:10px;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:3px;
	font-family: 'raleway-semibold';
	padding-right:3px;
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
	border:solid 1px #999999;
}
.minta{
	width:10.5%;
	float:left;
	background-color:#FFF;
	min-height:22px;
	border-radius:2px;
	line-height:22px;
	text-align:center;
	color:black;
	margin-right:20px;
	margin-top:10px;
	padding-top:3px;
	padding-bottom:3px;
	padding-left:3px;
	padding-right:3px;
	font-family: 'raleway-semibold';
	  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
	border:solid 1px #999999;
	font-size:12px;
}
.clear{
	clear:both;
}
.gombWrap{
	width:100%;
	min-height:40px;
}
.gomb{
	width:60px;
	height:35px;
	float:left;
	cursor:pointer;
	margin-left:20px;
	margin-top:20px;
	text-align:center;
	border-radius:1px;
}
.gomb img{
	margin-top:7px;
}
.banner {
	margin-top:50px;
}
.kreditWrap{
	width: 100%;
	height: 60px;
}
.kreditBar{
	position: relative;
	width: 80%;
	background:#fff;
	height: 20px;
	margin-left:auto;
    margin-right:auto;
	border-radius: 3px;
	line-height: 20px;
	font-size: 14px;
}
.kreditBar .bar{
	position: relative;
	height: 100%;
	float: left;
	text-align: center;
	color:#fff;
}
.Telj{
	border-top-left-radius:3px;
	width: 0%;
	border-bottom-left-radius:3px;
}
.Felv{
	border-top-right-radius:3px;
	width: 0%;
	border-bottom-right-radius:3px;
}
.szakirany{
	border-top: 2px #333 solid;
	margin-top: 10px;
}
.infoWrap{
	word-wrap:break-word;
	margin-right:10px;
}
.infoWrap p.iTitle{
	font-weight:bold;
}
.mintaSection{
	margin-bottom: 10px;
}
/* Info section ********************************************/
#Specializations{
	width: 100%;
}
.szakiranyWrap{
	position:relative;
	width:40%;
	float:left;
}
.selectWrap{
	position:relative;
	width: 75%;
	float: left;
	padding-left:10px;
}
.szakiranyWrap select{
	font-family: 'raleway-semibold';
	border:solid 1px #999999;
	border-radius:1px;
}
.szakiranyWrap select option{
font-family: 'raleway-semibold';
}
.targyInfo{
	position:relative;
	width:50%;
	min-width:600px;
	float:left;
	border-radius:1px;
	font-size:14px;
}
.targyInfoTitle{
	position: relative;
	float: left;
	font-weight:bold;
	min-width: 20%;
	max-width: 20%;
}
.targyInfoSingle{
	position: relative;
	float: left;
	margin-left:15px;
}
.targyInfoBox{
	position: relative;
	width: 100%;
	float: left;;
	margin:3px;
	margin-left: 20px;
}
.Hours{
	position: relative;
	float: left;
}
.infoBoxRow{
	width: 100%;
}

.alterSubject{
	font-size: 12px;
}
/* Info section END ********************************************/
.separator {
	display: flex;
	align-items: center;
	text-align: center;
	margin-top: 6px;
	color: #666;
}
.separator::before, .separator::after {
	content: '';
	flex: 1;
	border-bottom: 1px solid #666;
}
.separator::before {
	margin-right: .25em;
}
.separator::after {
	margin-left: .25em;
}