.sidebarInner{
	background-color:#25624e;
}
.content{
	background-color:#EEE;
}
.felev{
	width:12.15%; 
}
.felveheto{
	background-color:#a5d2c3;
	color:#333;
	border:solid 1px #a5d2c3;
}
.felvett{
	background-color:#409c7d;
	color:#FFF;
	border:solid 1px #409c7d;
}
.teljesitett{
	background-color:#25624e;
	color:#FFF;
	border:solid 1px #25624e;
}
.elokovetelmeny{
	background-color:#e1b12c !important;
	color:#fff!important;
	border:solid 1px #e1b12c !important;	
}
.utokovetelmeny{
		background-color:#c0392b;
	color:#fff;
	border:solid 1px #c0392b;	
}
.alairas{
	background:linear-gradient(90deg,#0097e6 20%, #e1b12c 20%);
	color:#fff;
	border:solid 1px #999999;
}
.azonosfelev{
	background:linear-gradient(90deg,#e1b12c 80%, #8c7ae6 20%);
	color:#fff;
	border:solid 1px #999999;
}
.alairasAzonosfelev{
	background:linear-gradient(90deg,#0097e6 20%, #e1b12c 20%, #e1b12c 80%, #8c7ae6 20%);
	color:#fff;
	border:solid 1px #999999;
}
.alairasuto{
	background:linear-gradient(90deg,#0097e6 20%, #c0392b 20%);
	color:#fff;
	border:solid 1px #999999;
}
.azonosfelevuto{
	background:linear-gradient(90deg,#c0392b 80%, #8c7ae6 20%);
	color:#fff;
	border:solid 1px #999999;
}
.alairasAzonosfelevuto{
	background:linear-gradient(90deg,#0097e6 20%, #c0392b 20%, #c0392b 80%, #8c7ae6 20%);
	color:#fff;
	border:solid 1px #999999;
}
.gomb{
	background-color:#25624e;
}
.gomb:hover{
	background-color:#409c7d;
}
.Telj{
	background-color: #25624e;
}
.Felv{
	background-color:#a5d2c3;
}
.targyInfo{
	background:#a5d2c3;
	border:solid 1px #999999;
}
.szakiranyWrap select{
	background:#a5d2c3;
}