.sidebarInner{
	background-color:#27140c;
}
.content{
	background-color:#EEE;
}
.felev{
	width:12.0%; 
}
.felveheto{
	background-color:#FDE3A7;
	color:#333;
	border:solid 1px #FDE3A7;
}
.felvett{
	background-color:#966B46;
	color:#FFF;
	border:solid 1px #966B46;
}
.teljesitett{
	background-color:#4F2817;
	color:#FFF;
	border:solid 1px #4F2817;
}
.elokovetelmeny{
	background-color:#67809F !important;
	color:#fff!important;
	border:solid 1px #67809F !important;	
}
.utokovetelmeny{
		background-color:#00B16A;
	color:#fff;
	border:solid 1px #00B16A;	
}
.alairas{
	background:linear-gradient(90deg,#e1b12c 20%, #67809F 20%);
	color:#fff;
	border:solid 1px #999999;
}
.azonosfelev{
	background:linear-gradient(90deg,#67809F 80%, #c0392b 20%);
	color:#fff;
	border:solid 1px #999999;
}
.alairasAzonosfelev{
	background:linear-gradient(90deg,#e1b12c 20%, #67809F 20%, #67809F 80%, #c0392b 20%);
	color:#fff;
	border:solid 1px #999999;
}
.alairasuto{
	background:linear-gradient(90deg,#e1b12c 20%, #00B16A 20%);
	color:#fff;
	border:solid 1px #999999;
}
.azonosfelevuto{
	background:linear-gradient(90deg,#00B16A 80%, #c0392b 20%);
	color:#fff;
	border:solid 1px #999999;
}
.alairasAzonosfelevuto{
	background:linear-gradient(90deg,#e1b12c 20%, #00B16A 20%, #00B16A 80%, #c0392b 20%);
	color:#fff;
	border:solid 1px #999999;
}
.ajanlott{
	background-color:#9c88ff;
	color:#fff;
	border:solid 1px #9c88ff;	
}
.gomb{
	background-color:#4F2817;
}
.gomb:hover{
	background-color:#8f4f31;
}
.Telj{
	background-color: #4F2817;
}
.Felv{
	background-color:#966B46;
}
.targyInfo{
	background:#E2D1C2;
	border:solid 1px #999999;
}
.szakiranyWrap select{
	background:#E2D1C2;
}